@model ProductListingModel

<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-lg-3 col-md-12">
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Филтри</h5>
                <form>
                    <input type="hidden" name="page" value="@Model.Pagination.CurrentPage" />
                    <input type="hidden" name="pageSize" value="@Model.Pagination.PageSize" />
                    <label for="category" class="col-form-label">Категория:</label>
                    <div>
                        <select id="category" name="category" asp-for="SelectedCategory" onchange="this.form.submit()" class="form-control">
                            @if (string.IsNullOrEmpty(Model.SelectedCategory))
                            {
                                <option value="" selected>-</option>
                            }
                            else
                            {
                                <option value="">-</option>
                            }

                            @foreach (var category in Model.Categories)
                            {
                                if (Model.SelectedCategory == category)
                                {
                                    <option value="@category" selected>@category</option>
                                }
                                else
                                {
                                    <option value="@category">@category</option>
                                }
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="border-bottom mb-4 pb-4">
                <form>
                    <label for="pageSize" class="col-form-label">Брой продукти:</label>
                    <div class="ps-4">
                        <input type="hidden" name="page" asp-for="@Model.Pagination.CurrentPage" />
                        @foreach (var size in Model.Pagination.PageSizes)
                        {
                            <div>
                                <input asp-for="@Model.Pagination.PageSize" type="radio" value="@size" id="@size" name="PageSize" class="form-check-input" onchange="this.form.submit()" />
                                <label for="@size">@size</label>
                            </div>
                        }
                        <input type="hidden" name="category" asp-for="@Model.SelectedCategory" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-9 col-md-12">
            <section class="products-wrapper">
                <div class="text-center">
                    <div class="row">
                        @foreach (var product in @Model.Products)
                        {
                            <div class="col-lg-4 col-md-6 mb-4 pb-4 card-wrapper">
                                <partial name="_ProductCardPartial" model="product" />
                            </div>
                        }
                    </div>
                </div>
            </section>

            <partial name="_PaginationPartial" model="@Model"/>
        </div>
    </div>
</div>
